{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            {% for user in queryset %}
                <h1><img src="{{ user.profilePicUrl }}" alt="profile pic" style="float: top"/> <br/> {{ user.name }}
                </h1>
                <p> {{ user.summary }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3>Some of my Work</h3><br>
            <div class="row">
                {% for p in projects %}
                <div class="col-sm-3">
                    <p>{{ p.name }}</p>
                    <a href="/resume/project-{{ p.id }}">
                        <img src="https://placehold.it/150x80?text=More details.." class="img-responsive"
                             style="width:100%"
                             alt="{{ p.description }}">
                    </a>
                </div>

                {% endfor %}
            </div>
    </div>

{% endblock %}
